@media (max-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
      background-color: lightblue;
    }
  }
/* Reset default margin, padding, and font family */
* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Styles for the header */
.hero {
    position: relative;
    width: 100%;
    height: 170vh;
    background: #eff4fd;
}
/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #cc8c8c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header Styles */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #9eadca;
}

nav {
    display: flex;
    width: 84%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav ul li a:hover {
    color: blue;
}

/* Box Styles */
.detail, .detail2, .quote {
    background: #e4d1b2;
    padding: 0px px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin: 10px 500px;
    border-radius: 7px;
    border-style: groove;
    align-items: center;
}

.detail h1, .quote h3 {
    font-size: 30px;
    color: black;
    margin-bottom: 20px;
}

.detail p, .quote p {
    color: #212121;
    padding: 22px;
}

/* Images Styles */
.images {
    width: 20%;
    height: 120%;
    position: absolute;
    bottom: 0;
    right: 1000px;
    display: flex;
    align-items: center;
}
.images img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    flex: 1;
}

.lift, .army, .app, .cam, .art {
    width: 500px;
    height: 400px;
}

.me {
    width: 300px;
    height: 400px;
}
